   <?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
                           
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">   
      <property name="url" value="jdbc:postgresql://ec2-23-23-234-118.compute-1.amazonaws.com:5432/d65um5mi9eqkih"/>
    <property name="username" value="bwgsmubfcldceu"/>
    <property name="password" value="e484ddf42b469d7c8f1c6e693c102b6241e065f79e07e82c0a416ce0cc736c43"/>

        </bean>
  </beans>
