<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

     <property name="url" value="jdbc:postgresql://ec2-23-23-234-118.compute-1.amazonaws.com:5432/d65um5mi9eqkih"/>
    <property name="username" value="bwgsmubfcldceu"/>
    <property name="password" value="e484ddf42b469d7c8f1c6e693c102b6241e065f79e07e82c0a416ce0cc736c43"/>
    <mapping class="com.freegames.model.Game"/>
    <mapping class="com.freegames.model.User"/>
    <mapping class="com.freegames.model.Transaction"/>
  </session-factory>
</hibernate-configuration>
